<?xml version="1.0"?>
<model>
  <name>piazinho_rplidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Kaike Taiao</name>
    <email>kkbeduschitaiao@gmail.com</email>
  </author>
  <description>Model of Gralhabots' Piazinho X500 Drone with a Slamtec RPLIDAR S2 (2D) mounted at body height.</description>
</model>
